[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/nitro-contracts"]
	path = lib/nitro-contracts
	url = https://github.com/OffchainLabs/nitro-contracts
[submodule "lib/world-id-state-bridge"]
	path = lib/world-id-state-bridge
	url = https://github.com/worldcoin/world-id-state-bridge
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/prb-test"]
	path = lib/prb-test
	url = https://github.com/PaulRBerg/prb-test
[submodule "lib/arb-cross-domain-ownable"]
	path = lib/arb-cross-domain-ownable
	url = https://github.com/haythemsellami/arb-cross-domain-ownable
